﻿@{
    ViewBag.Title = "Registro de Socios";
}
<style>
    label span.error {
        color: red;
    }
</style>
<div class="card bg-light ">
    <div class="card-header h4">Registro de Socio</div>
    <div class="card-body">
        <div class="form-row mb-1">
            <label for="client" class="col-sm-2 col-form-label text-right h6">Seleccione un Socio:</label>
            <div class="col-sm-6">
                <select class="form-control" id="client"></select>
            </div>
            <div class="col-md-1"></div>
            @*<div class="col-md">
                   <div class="row">
                       <div class="col">
                           <div class="custom-control custom-radio">
                               <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                               <label class="custom-control-label" for="customRadio1">Completo</label>
                           </div>
                       </div>
                       <div class="col">
                           <div class="custom-control custom-radio">
                               <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                               <label class="custom-control-label" for="customRadio2">Parcial</label>
                           </div>
                       </div>
                   </div>
                </div>*@

        </div>
        <form id="form">
            <div class="h6">Peso</div>
            <div class="form-row">
                <div class="col-md">
                    <label for="peso" class="col-sm col-form-label text-center">Peso Inicial</label>
                    <div class="input-group ">
                        <input id="peso" name="peso" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.kg</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="pesoi" class="col-sm col-form-label text-center">Peso Bajado</label>
                    <div class="input-group ">
                        <input id="pesoi" name="pesoi" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.kg</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="pesob" class="col-sm col-form-label text-center"><strong>Peso Actual</strong></label>
                    <div class="input-group ">
                        <input id="pesob" name="pesob" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6">Abd. Alto</div>
            <div class="form-row mb-1">
                <div class="col-md">
                    <label for="abdai" class="col-sm col-form-label text-center">Circunferencia Cintura Inicial</label>
                    <div class="input-group ">
                        <input id="abdai" name="abdai" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="abda" class="col-sm col-form-label text-center">Circunferencia Cintura Bajado</label>
                    <div class="input-group ">
                        <input id="abda" name="abda" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="client" class="col-sm col-form-label text-center"><strong>Circunferencia Cintura Actual</strong></label>
                    <div class="input-group ">
                        <input id="abdab" name="abdab" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6">Abd. Bajo</div>
            <div class="form-row mb-1">
                <div class="col-md">
                    <label for="abdbi" class="col-sm col-form-label text-center">Circunferencia Cadera Inicial</label>
                    <div class="input-group ">
                        <input id="abdbi" name="abdbi" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="abdb" class="col-sm col-form-label text-center">Circunferencia Cadera Bajado</label>
                    <div class="input-group ">
                        <input id="abdb" name="abdb" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="abdbb" class="col-sm col-form-label text-center"><strong>Circunferencia Cadera Actual</strong></label>
                    <div class="input-group ">
                        <input id="abdbb" name="abdbb" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6">Cadera</div>
            <div class="form-row mb-1">
                <div class="col-md">
                    <label for="caderai" class="col-sm col-form-label text-center">Circunferencia Pecho Inicial</label>
                    <div class="input-group ">
                        <input id="caderai" name="caderai" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="cadera" class="col-sm col-form-label text-center">Circunferencia Pecho Bajado</label>
                    <div class="input-group ">
                        <input id="cadera" name="cadera" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="caderatb" class="col-sm col-form-label text-center"><strong>Circunferencia Pecho Actual</strong></label>
                    <div class="input-group ">
                        <input id="caderatb" name="caderab" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6">Adicionales</div>
            <div class="form-row mb-1">
                <div class="col-md">
                    <label for="altura" class="col-sm col-form-label text-center">Altura</label>
                    <div class="input-group ">
                        <input id="altura" name="altura" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="talla" class="col-sm col-form-label text-center">Peso</label>
                    <div class="input-group ">
                        <input id="talla" name="talla" type="text" class="form-control" placeholder="00.00" required>
                    </div>
                </div>
                <div class="col-md">
                    <label for="grasac" class="col-sm col-form-label text-center">Grasa Corporal</label>
                    <div class="input-group ">
                        <input id="grasac" name="grasac" type="number" class="form-control" placeholder="00.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.kg</span>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="imc" class="col-sm col-form-label text-center">IMC</label>
                    <div class="input-group ">
                        <input id="imc" name="imc" type="text" class="form-control" placeholder="00.00" required>
                    </div>
                </div>
            </div>
            <div class="form-row mb-1">
                <div class="col-md">
                    <label for="ta" class="col-sm col-form-label text-center"><strong>P/E·E</strong></label>
                    <div class="input-group ">
                        <input id="ta" name="ta" type="number" class="form-control" placeholder="00.00" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="guia" class="col-sm col-form-label text-center"><strong>Guía</strong></label>
                    <div class="input-group ">
                        <input id="guia" name="guia" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-md">
                    <label for="observaciones" class="col-sm col-form-label text-center"><strong>Observaciones</strong></label>
                    <div class="input-group ">
                        <input id="observaciones" name="observaciones" type="text" class="form-control" placeholder="Observaciones" required>
                    </div>
                </div>
            </div>
            <div class="form-row mb-1">
                <div class="col text-center">
                    <br />
                    <input id="saveClientRecord" type="submit" class="btn btn-success" value="Guardar Registro">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $.validator.setDefaults({
        submitHandler: function () {
            if ($('#client').val() == 0) {
                $('#client').focus();
            } else {
                saveRecord();
            }
        }
    });

    $(document).ready(function () {
        var msg = " (necesario)";

        $('#client').on('change', function () {
            getTextBoxData();
        });

        var validator = $("#form").validate({
            errorPlacement: function (error, element) {
                $(element)
                    .closest("form")
                    .find("label[for='" + element.attr("id") + "']")
                    .append(error);
            },
            errorElement: "span",
            messages: {
                peso: { required: msg },
                pesoi: { required: msg },
                pesob: { required: msg },
                abdai: { required: msg },
                abda: { required: msg },
                abdab: { required: msg },
                abdbi: { required: msg },
                abdb: { required: msg },
                abdbb: { required: msg },
                caderai: { required: msg },
                cadera: { required: msg },
                caderab: { required: msg },
                altura: { required: msg },
                talla: { required: msg },
                grasac: { required: msg },
                imc: { required: msg },
                ta: { required: msg },
                guia: { required: msg },
                observaciones: { required: msg }
            }
        });
        $('#alert').hide();
        $('#client').focus();
        getClients();
    });

    function saveRecord() {
        var client = $('#client').val();
        var peso = $('#peso').val();
        var pesoi = $('#pesoi').val();
        var pesob = $('#pesob').val();
        var abdai = $('#abdai').val();
        var abdab = $('#abdab').val();
        var abda = $('#abda').val();
        var abdbi = $('#abdbi').val();
        var abdb = $('#abdb').val();
        var abdbb = $('#abdbb').val();
        var caderai = $('#caderai').val();
        var cadera = $('#cadera').val();
        var caderatb = $('#caderatb').val();
        var altura = $('#altura').val();
        var talla = $('#talla').val();
        var grasac = $('#grasac').val();
        var imc = $('#imc').val();
        var ta = $('#ta').val();
        var guia = $('#guia').val();
        var observaciones = $('#observaciones').val();

        var param = "";
        param = '{ client: ' + client + ', ' +
            ' peso:' + peso + ', ' +
            ' pesoi:' + pesoi + ', ' +
            ' pesob:' + pesob + ', ' +
            ' abdai:' + abdai + ', ' +
            ' abdab:' + abdab + ', ' +
            ' abda: ' + abda + ', ' +
            ' abdbi:' + abdbi + ', ' +
            ' abdb:' + abdb + ', ' +
            ' abdbb:' + abdbb + ', ' +
            ' caderai: ' + caderai + ', ' +
            ' cadera :' + cadera + ', ' +
            ' caderatb:' + caderatb + ', ' +
            ' altura:' + altura + ', ' +
            ' talla:' + talla + ', ' +
            ' grasac:' + grasac + ', ' +
            ' imc:' + imc + ', ' +
            ' ta:' + ta + ', ' +
            ' guia:' + guia + ', ' +
            ' observaciones:' + observaciones + '}';
        ajaxPostCall("/DataTicket/SaveRecord", param)
            .done(function (response) {
                console.log(response);
                if (response == -1) {
                    $('#client').focus();
                    $('#form')[0].reset();
                    saveAlert();
                }
            })
            .fail(function (ex) {
                console.log(ex.innerHTML + "error rpfp");
            });
    }

    function saveAlert() {
        $('#message').text("Registro Agregado con éxito");
        $('#alert').slideToggle("slow", function () {
            window.setTimeout(function () { $('#alert').slideToggle("slow"); }, 5000);
        });
    }

    function getTextBoxData() {
        var num_socio = $('#client').val();
        ajaxPostCall("/DataTicket/GetChartData", '{client: ' + num_socio + '}')
            .done(function (response) {
                var datapeso = [];
                var dataalto = [];
                var databajo = [];
                var datacadera = [];

                $.each(response, function (item, datachart) {
                    datapeso.push(datachart.prev_peso);
                    dataalto.push(datachart.prev_alto);
                    databajo.push(datachart.prev_bajo);
                    datacadera.push(datachart.prev_cadera);
                });
                console.log(datapeso[0]);
                console.log(dataalto[0]);
                console.log(databajo[0]);
                console.log(datacadera[0]);
            })
            .fail(function (ex) {
                console.log(ex.innerHTML + "error rpfp");
            });
    }

</script>