﻿
@{
    ViewBag.Title = "Consulta de Socios";
}
<div class="card bg-light mb-3">
    <div class="card-header h4">Búsqueda de Socio</div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-1 text-right">
                <div class="col">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio1">Completo</label>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" value="2" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Parcial</label>
                    </div>
                </div>
            </div>
            <label for="client" class="col-sm-2 col-form-label text-right">Socio:</label>
            <div class="col-sm-5">
                <select class="form-control" id="client" required></select>
            </div>
            <div class="col-md-2 text-center">
                <input id="printTicket" type="button" class="btn btn-success" value="Imprimir Ticket">
            </div>
            <div class="col-md-2 text-center">
                <input id="sendTicket" type="button" class="btn btn-primary" value="Enviar Ticket por Email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Peso</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-peso">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartPeso"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Abd. Alto</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-alto">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartAbdAlto"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Abd. Bajo</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-bajo">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartAbdBajo"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Cadera</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-cadera">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartCadera"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#alert').hide();
        $('#client').focus();

        $("#printTicket").click(function () {
            saveTicket();
        });
        $("#sendTicket").click(function () {
            sendMail();
        });

        $('#client').on('change', function () {
            getChartData();
        });

        getClients();

    });

    function sendMail() {
        var num_socio = $('#client').val();
        ajaxPostCall("/DataTicket/sendMail", '{client: ' + num_socio + '}')
            .done(function (response) {
                alert("El correo se mando correcto para el socio:" + num_socio);
                console.log("corre enviado para el socio:" + num_socio);
            })
            .fail(function (ex) {
                console.log(ex.innerHTML + "error rpfp");
            });
    }

    function saveTicket() {
        var num_socio = $('#client').val();
        var parcial = document.getElementById("customRadio2").checked;
        var completo = document.getElementById("customRadio1").checked;
        ajaxPostCall("/DataTicket/saveTicket", '{client: ' + num_socio, "completo: " + parcial + '}')
            .done(function (response) {
                alert("El ticket se guardo correctamente para el socio:" + num_socio);
                console.log("corre enviado para el socio:" + num_socio);
            })
            .fail(function (ex) {
                console.log(ex.innerHTML + "error rpfp");
            });
    }

    function getChartData() {
        var num_socio = $('#client').val();
        ajaxPostCall("/DataTicket/GetChartData", '{client: ' + num_socio + '}')
            .done(function (response) {
                var datapeso = [];
                var dataalto = [];
                var databajo = [];
                var datacadera = [];

                $.each(response, function (item, datachart) {
                    datapeso.push(datachart.prev_peso);
                    dataalto.push(datachart.prev_alto);
                    databajo.push(datachart.prev_bajo);
                    datacadera.push(datachart.prev_cadera);
                });

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart1);
                google.charts.setOnLoadCallback(drawChart2);
                google.charts.setOnLoadCallback(drawChart3);
                google.charts.setOnLoadCallback(drawChart4);
                function drawChart1() {
                    var data = google.visualization.arrayToDataTable([
                        ['Previo', 'Peso'],
                        ['Previo 5', datapeso[4]],
                        ['Previo 4', datapeso[3]],
                        ['Previo 3', datapeso[2]],
                        ['Previo 2', datapeso[1]],
                        ['Previo 1', datapeso[0]]
                    ]);
                    var options = {
                        title: 'Peso',
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chartPeso'));
                    chart.draw(data, options);
                }

                function drawChart2() {
                    var data = google.visualization.arrayToDataTable([
                        ['Mes', 'Adbomen Alto'],
                        ['Previo 5', dataalto[4]],
                        ['Previo 4', dataalto[3]],
                        ['Previo 3', dataalto[2]],
                        ['Previo 2', dataalto[1]],
                        ['Previo 1', dataalto[0]]
                    ]);
                    var options = {
                        title: 'Adbomen Alto',
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chartAbdAlto'));
                    chart.draw(data, options);
                }

                function drawChart3() {
                    var data = google.visualization.arrayToDataTable([
                        ['Mes', 'Adbomen Bajo'],
                        ['Previo 5', databajo[4]],
                        ['Previo 4', databajo[3]],
                        ['Previo 3', databajo[2]],
                        ['Previo 2', databajo[1]],
                        ['Previo 1', databajo[0]]
                    ]);
                    var options = {
                        title: 'Adbomen Bajo',
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chartAbdBajo'));
                    chart.draw(data, options);
                }

                function drawChart4() {
                    var data = google.visualization.arrayToDataTable([
                        ['Mes', 'Cadera'],
                        ['Previo 5', datacadera[4]],
                        ['Previo 4', datacadera[3]],
                        ['Previo 3', datacadera[2]],
                        ['Previo 2', datacadera[1]],
                        ['Previo 1', datacadera[0]]
                    ]);
                    var options = {
                        title: 'Cadera',
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chartCadera'));
                    chart.draw(data, options);
                }
            })
            .fail(function (ex) {
                console.log(ex.innerHTML + "error rpfp");
            });
    }

</script>
